.layout,.layout-bg{
    height: 100% ;
background-color: #E9EAFF;
}


.layout{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius:5px;
}

.layout > .navigation{
    order: 1;
}


.layout > .sidebar {
    order: 1;
    flex-grow: 2;

    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar > .nav.nav-tabs{
    display: none;;
}


.main{
    

    overflow: hidden;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

}

.main.main-visible{
    transform: translateX(0%);

}
.main.main-hidden{
    visibility: hidden;
    overflow: hidden;
}

.main > .tab-content,.main > .tab-content > .tab-pane{
    height: 100%;
}

.main-content{
    display: flex;
}

.main-content .tab-content{
    width: 100%;
}
//@media only screen and (max-width: 1199.98px) {
    @media only screen and (max-width: 768px) {
 
    .main{
           position: fixed;
        transform: translateX(-100%);
        background: #fff;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .layout > .navigation{
        order: 2;
    }

    .layout,.layout-bg{
       
        height: 100% !important;
    }
}

// @media only screen and (min-width: 1200px) {
    @media only screen and (min-width: 768px) {

    .layout{

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    
    }

    .sidebar {
        width: 420px;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0 !important;
    }

    .navigation {
        width: 90px;
        border-top: 0 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    
    .main{
            // border-left: 1px solid #f2f2f2;
    margin-right: -15px;
    }


    .main > .tab-content > .tab-pane:first-child{ 
        border-left: 1px solid #f2f2f2;
    }

}